.Results h2 {
  color: #142d4c;
  font-size: 39px;
  margin: 0;
}

.Phonetic .rhap_container {
  display: block;
  border: 2px solid #9fd3c7;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 400px;
}

.Meaning h3 {
  color: #142d4c;
  font-size: 30px;
  margin-bottom: 20px;
  padding-left: 40px;
}

.Meaning .definition {
  font-size: 17px;
}

.Meaning .example {
  font-size: 15px;
  opacity: 0.7;
  font-style: italic;
  margin-top: 5px;
}

.Synonyms {
  margin: 10px 20px 20px 20px;
  padding: 0;
  opacity: 0.8;
}
.Synonyms li {
  display: inline-block;
  padding-right: 15px;
}

@media (max-width: 575px) {
  .Meaning h3 {
    padding-left: 0;
    text-align: center;
  }
}
